<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90B67E641D4C9A9E0024CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B67E781D4C9A9E0024CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90B67E831D4C9A9E0024CF35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
